* {
  margin: 0;
  font-family: "Inter", sans-serif;
}
header {
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}
.banner {
  background-image: url(/images/donation1.jpg);
  text-align: center;
  padding: 174px 307px 337px 307px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
}
.banner-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
}

.section-description {
  font-size: 18px;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 30px;
}
.primary-btn {
  padding: 16px 12px;
  background: #ff5959;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.donate-today {
  text-align: center;
  margin-top: 130px;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
}
.donate-today .section-description {
  color: #707070;
  font-size: 18px;
  margin-bottom: 50px;
}
.donation {
  display: flex;
  justify-content: space-between;
  margin: 20px 338px;
}
.donation p {
  background: #fafafa;
  border-radius: 5px;
  color: #707070;
  font-weight: 700;
  font-size: 30px;
}
.other-amount {
  color: #b3b3b3;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.our-donation {
  text-align: center;
  margin-top: 130px;
}

.donate-today .primary-btn {
  margin-top: 30px;
}

.our-donation .section-description {
  color: #707070;
  font-size: 18px;
  margin-bottom: 50px;
}
.donation-plan {
  display: flex;
  gap: 24px;
  margin: 50px 157px 0px;
}
.donate {
  padding: 30px;
}
.donation-title {
  font-weight: 600;
  font-size: 24px;
  color: #121212;
  margin-top: 145px;
  margin-bottom: 15px;
  text-align: left;
}
.donation-description {
  color: #707070;
  text-align: justify;
}
.plan-1 {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}
.plan-2 {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
}
.plan-3
{
  background: rgba(235, 229, 229, 0.711);
  border-radius: 5px;
}
.donate{
    position: relative;
}
.donate img
{
    position: absolute;
    left: 30px;
    top: 62px;
    z-index: 1;
}